.navbar{
display: flex;
align-self: center;
justify-content: space-between;
padding: 10px 20px;
height: 60px;
border-bottom: 1px solid lightgrey;
position: sticky;
top: 0;
background-color: white;
z-index: 999;

    .left{
     display: flex;
     align-self: center;
     gap: 30px;
     cursor: pointer;
        span{
            font-weight: bold;
            font-size: 25px;
            color: #0f0c29;
        }
        
        .search{
            display: flex;
            align-self: center;
            gap: 10px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            padding: 5px;
            input{
                border: none;
                width: 500px;
            }
        }
    }

    .right{
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        .user{
            display: flex;
            align-items: center;
            gap: 10px; font-weight: 500;

            img{
                width: 50px;
                border-radius: 70%;
                object-fit: cover;
            }

            span{
                font-weight: bold;
                font-size: 15px;
                color: #0f0c29;
            }
        }
    }
}